body{
    background-image: url("spotify.png");
    background-size: cover;
    text-align: center;       
}

table, th, td {
    border-radius: 20px;
}

td{
    font-size:24px; 
    font-family: 'Poppins', 'Nunito', sans-serif;
}

.full{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 4%;
    background-color : rgba(9, 15, 9, 0.8);
    border: 1px solid black;
    border-radius: 20px;
}

legend{
    text-align: left;
}
.navbar{
    background-color: black;
}
.nav-link{
    background-color:rgb(43, 43, 43); 
    border-radius:50px; 
    margin-right: 20px;
}
.nav-link:hover{
    background-color: rgb(116, 115, 115);
    scale:calc(1.1)
}
.btn-login{
    border-radius:50px !important;
    background-color:white;
    color: rgb(116, 115, 115);
    font-weight: bold !important;
}

.btn-register{
    border-radius:50px;
    background-color:black;
    color:rgba(146, 146, 146, 1);
    font-weight: bold !important;
}

.inbox{
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}

