body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
nav.navbar{
    align-self: stretch;
    width:  100%;
    box-sizing: border-box;
}
.base{
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    background-color : rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    color: white;
}
input{
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}